/* button#openModal {
    color: white;
    background-color: rgb(247, 36, 133);
    /* font-weight: 800; */
    /* text-decoration: none;
    padding: 6px;
    border: 2px solid rgb(247, 36, 133);
    display: inline-block;
    margin-top: 5px;
    border-radius: 10px;
    transition: all 0.1s ease-in;
  } */
   
  /* button#openModal:hover {
    color: rgb(247, 36, 133);
    background-color: white;
  } */

button#openModal {
    font-size: 2rem;
    color: white;
    background-color: blueviolet;
    padding: 1rem;
    border: 0;
    box-shadow: 0 0 24px rgba(255, 255, 255, 0.8);
  }

button#openModal:hover {
    font-size: 2rem;
    color: blueviolet;
    background-color: white;
    padding: 1rem;
    border: 0;
    box-shadow: 0 0 24px rgba(255, 255, 255, 0.8);
  }
  
.modal {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s;
}

.modal.open {
    opacity: .1;
}

.modal.content {
    background-color: white;
    border-radius: 6px;
    text-align: left;
    padding: 4rem;
    box-shadow: 0 0 64px 12px rgba(255, 255, 255, 0.2);

}

.modal .titleText {
    font-weight: 900;
    font-size: 2rem;
}

.modal .messageText {
    margin: 2rem 0;
}

.modal .content button {
    width: 40%;
    padding: 0.75rem;
    margin: 0 5px;
    color: white;
    border: 0;
    border-radius: 6px;
}

.modal .content button.cancelButtonText {
    background-color: red;
}

.modal .content button.confirmButtonText {
    background-color: green;
}